<STYLE type='text/css'>
   .body       {font-family: Arial; color:#fefefe; background-color: #598fbf; font-size: 12px; border-color: #597fbf; vertical-align: middle; text-decoration:none;}
   h6.body     {font-size: 14px;}
   h5.body     {font-size: 16px;}
   h4.body     {font-size: 18px;}
   h3.body     {font-size: 20px;}
   h2.body     {font-size: 22px;}
   h1.body     {font-size: 24px;}
   .title      {font-family: Arial; font-size: 13px; color: #fefefe; background-color: #274E8D;}
   .rp         {font-family: Arial; font-size: 14px; background-color: #495666; text-align: center; text-decoration:none;}
   .rp:link,
   .rp:visited {color: '#fefefe'; }
   .rp:hover,
   .rp:active  {color: '#fe00fe'; }
   .ra         {font-family: Arial; font-size: 14px;  background-color: #ACC2CC; text-align: center; text-decoration:none;}
   .ra:link,
   .ra:visited {color: '#00007f'; }
   .ra:hover,
   .ra:active  {color: '#ffffff'; }
   .tab        {font-family: Arial; font-size: 12px; color: #fefefe; background-color: #83ADDD; text-decoration:none;}
   .ttp        {font-family: Arial; font-size: 12px; color: #fefefe; background-color: #495666; text-align: center; text-decoration: none;}
   .tta        {font-family: Arial; font-size: 12px; color: #393939; background-color: #c9c9c9; text-align: center; text-decoration: none;}
   .tlp        {font-family: Arial; font-size: 12px; color: #000000; background-color: #c9c9c9; text-decoration: none;}
   .tlpa       {font-family: Arial; font-size: 12px; color: #002474; background-color: #c9c9c9; text-decoration:none;}
   .tla        {font-family: Arial; font-size: 12px; color: #000000; background-color: #f0f0FF; text-decoration: none;}
   .tlaa       {font-family: Arial; font-size: 12px; color: #00007f; background-color: #f0f0FF; text-decoration:none;}
   .toolst     {font-family: Arial; font-size: 12px; color: #fefefe; background-color: #495666; text-align: center; text-decoration:none ;}
   .toolsl     {font-family: Arial; font-size: 12px; color: #a0a0a0; background-color: #ACC2CC; text-decoration: none;}
   .toolsla    {font-family: Arial; font-size: 12px; color: #a0a0a0; background-color: #C9C9C9; text-decoration: none;}
   .toolsa     {font-family: Arial; font-size: 12px; color: #002474; background-color: #ACC2CC; text-decoration: none;}
   .toolsaa    {font-family: Arial; font-size: 12px; color: #002474; background-color: #C9C9C9; text-decoration: none;}
   .toolsbarl  {font-family: Arial; font-size: 12px; color: #fefefe; background-color: #274E8D;}
   .toolsbara  {font-family: Arial; font-size: 12px; color: #fefefe; background-color: #274E8D;}
   .toolsbare  {font-family: 'Courier New'; font-size: 12px; color: #00007f; background-color: #CBD7E5; border-color: #c9c9c9;}
   .toolsbarb  {font-family: 'Arial'; font-size: 12px; color: #00000f; background-color: #ACC2CC;  border-color: #121212;}
   .toolsbarbg { }
</STYLE>

